.navBarCustom {
  .logo {
    a {
      font-size: 30px;
      line-height: 1;
    }
  }
  ul {
    li {
      position: relative;
      a {
        padding: 0px;
        font-family: "Alata", sans-serif;
        font-weight: normal;
        letter-spacing: 0.02rem;
      }
    }
  }
}
.cartItem {
  font-size: 12px;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: block;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: -7px;
  right: -21px;
}
